.fixed-top-container {
    position: fixed;
    z-index: 5;
    width: 7rem;
    right: 2rem;
    bottom: 2rem;


    text-align: center;

    .fixed-btn {
        height: 56px;
        border-radius: 50%;
        background-color: var(--secondary);
        background-image: url(/img/icon_top.svg);
        background-size: 40% auto;
        background-position: center;
        background-repeat: no-repeat;
        font-size: 0;
        cursor: pointer;
        width: 5.6rem;
        margin: auto;
    }

    .talk-btn {
        position: relative;
        display: block;
        width: 56px;
        color: #ffff;
        font-size: 15px;
        letter-spacing: 0;
        line-height: 60px;
        height: 88px;
        background: url(/img/icon_talk.svg) no-repeat top center / 100%;
        margin: 2rem auto;


    }

    p {
        position: absolute;
        bottom: 0;
        left: 6px;
        width: 100%;
        font-size: 16px;
        margin-left: -3px;
        line-height: 1;
        letter-spacing: 0;
        color: #DC272D;
        font-family: 'Source Serif Pro', serif;
        font-style: italic;
        font-weight: 600;

    }
}