.hello-inner {

    display: flex;
    align-items: center;

    .t-wrap {
        width: 63rem;
        text-align: center;



        .con-tit {
            color: var(--primary);
        }

        .txt-3 {
            font-size: 1.6rem;
        }
     
        a.con_btn {
            background:var(--p-gradient);
            border: none;
            &:hover {
                color:var(--bg)
            }
        }
    }
}