.inner.instar-inner {

  .instar-lst {
    display: flex;
    gap: 1rem;
    justify-content: center;
      @media screen and (max-width:1111px) {
      flex-wrap: wrap;
      }

    li {
      width:clamp(13rem,15vw,21.3rem);
      height: clamp(13rem,15vw,21.3rem);

      a {
        display: block;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-size: 0;
      }
    }
  }
}