// src/styles/base/_reset.scss
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}
html,
body {
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Apple SD Gothic Neo, Noto Sans KR, sans-serif;
  background: var(--bg);
  color: var(--fg);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}
/* 기본 폰트 세팅 */
* {
  font-family: "Circular Std", "Noto Sans KR";
  letter-spacing: -0.05em;
}

/* 제목 계열은 Circular 우선 */
h1, h2, h3, h4, h5, h6 {
  font-family: "Circular Std", "Noto Sans KR", sans-serif;
  font-weight: 700;
}



button {
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

section {
  min-height: 100vh;
}

ul,
ol,
dl {
  list-style: none;
}